{% extends 'base.html' %} {% block head %} {% load static %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
<script src="{% static 'lib/highcharts-8.1.2/modules/data.js' %}"></script>
<script src="{% static 'lib/highcharts-8.1.2/modules/drilldown.js' %}"></script>

<script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
<script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
<script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
{% endblock head %} {% block content %}

<div id="a-report-container">
  <div class="a-sidebar-container">
    {% load static %}
    <a class="a-sidebar-icon" href="{% url 'votante_app:reporte-votos' %}">
      <img src="{% static 'images/report-icon.svg' %}" />
    </a>
    <a class="a-sidebar-icon" href="{% url 'votante_app:tabla-votos' %}">
      <img src="{% static 'images/users-icon.svg' %}" />
    </a>
  </div>

  <div class="a-main-container">
    <!-- SIDEBAR -->
    <nav class="navbar navbar-dark">
      <div class="container-fluid">
        {% load static %}
        <img
          src="{% static 'images/logo/villavo-white.svg' %}"
          alt=""
          height="30"
        />

        <form class="d-flex">
          <a
            href="{% url 'users_app:logout-user' %}"
            class="a-icon-text-btn"
            type="button"
          >
            <div class="a-icon-btn">
              <img src="{% static 'images/logout.svg' %}" alt="" />
            </div>
            Salir
          </a>
        </form>
      </div>
    </nav>

    <!-- MAIN CONTAINER -->
    <div id="a-charts-container">
      <!-- ROW -->
      <div id="a-row">
        <div class="a-chart-figure">
          <figure class="highcharts-figure">
            <div id="container"></div>
          </figure>
        </div>
        <div class="a-separator"></div>
        <div class="a-chart-figure">
          <figure class="highcharts-figure">
            <div id="container3"></div>
          </figure>
        </div>
      </div>
      <!-- ROW -->
      <div id="a-horizontal-chart" class="a-chart-figure">
        <figure class="highcharts-figure">
          <div id="container2"></div>
        </figure>
      </div>

      <!-- FOOTER -->

      <div class="a-footer">
        <span>
          Desarrollado por la Dirección de Sistemas Tecnológicos e
          Informáticos</span
        >
        <span> Secretaria de las TIC- Villavicencio Cambia Contigo</span>
      </div>
    </div>
  </div>
</div>

<script>
      Highcharts.setOptions({
            colors:['#00d784','#2b5ac4','#00b7ff']
  });

    Highcharts.chart('container', {
        chart: {
            type: 'column',
            backgroundColor: '#f4f3f8',
        },
        title: {
            text: 'Tabla de Votación'
        },
        subtitle: {
            text: 'Total de votos por candidato'
        },
        xAxis: {
            categories: [
                'Candidatos',
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad de Votos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} Votos</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: {{graph_votos_candidato|safe}},
    });
</script>

<script>
  Highcharts.chart('container3', {
      chart: {
          type: 'pie',
          options3d: {
              enabled: true,
              alpha: 45,
              beta: 0
          },
            backgroundColor: '#f4f3f8',
      },
      title: {
          text: 'Elecciones de representantes 2021'
      },
      accessibility: {
          point: {
              valueSuffix: '%'
          }
      },
      tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              depth: 35,
              dataLabels: {
                  enabled: true,
                  format: '{point.name}'
              }
          }
      },
      series: [{
          type: 'pie',
          name: 'Votación',
          data: {{pie_votos_candidato|safe}}
      }]
  });
</script>
<!-- Graficas-->
<script>
  Highcharts.chart('container2', {
      chart: {
          type: 'column',
            backgroundColor: '#f4f3f8',
      },
      title: {
          text: 'Candidato / Representante'
      },
      accessibility: {
          announceNewData: {
              enabled: true
          }
      },
      xAxis: {
          type: 'category'
      },
      yAxis: {
          title: {
              text: 'Total Votos-Candidato'
          }

      },
      legend: {
          enabled: false
      },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y:.1f}'
              }
          }
      },

      tooltip: {
          headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
          pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
      },

      series: [
          {
              name: "Candidatos",
              colorByPoint: true,
              data:{{graph_votos_candidato|safe}}
          }
      ],
      drilldown: {
          series: {{graph_votos_hora_candidato|safe}}

      }
  });
</script>
<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
  crossorigin="anonymous"
></script>
{% endblock content %}
