{% extends "base.html" %} {% block title %} Elección de Candidato {% endblock title %} {% block content %} {% load static %} {% if mensaje %}
<h1>El usuario no cuenta con las credenciales necesarias, por favor redirigirse a la pagina de verificación de cedula</h1>
{% else %}

<div id="a-candidates-container">
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            {% load static %}
            <img src="{% static 'images/logo/villavo-white.svg' %}" alt=" " height="30" />
        </div>
    </nav>
    <div id="a-candidates-content">
        <div id="a-election-title">
            <h6>Elección de Representantes de los trabajadores de la Alcaldía Vigencia 2021 - 2023</h6>
        </div>
        <div id="a-form-container">
            <form method="post" name="eleccion">
                {% csrf_token %}
                <input type="hidden" id="cc" name="cc" value="{{user.cedula}}" readonly="readonly"></input>
                <div id="a-candidates-main-container">
                    {% for c in candidatos %}
                    <div class="a-candidate-info">
                        <div class="a-candidate-img">
                            <img src="{{c.foto.url}}" class="card-img-top" alt="... ">
                            <button type="submit " class="a-main-btn" onclick="valueRadio('{{c.id}}')">Votar</button>
                        </div>
                        <div class="a-candidate-desc">
                            <div class="a-candidate-id">Candidato {{c.id}} </div>
                            <br/>
                            <div class="a-candidate-name">{{c.nombre}} </div>
                            <div class="a-candidate-name">{{c.apellido}} </div>
                            <br/>
                            <div class="a-candidate-other">
                                <strong>{{c.cargo}}</strong>
                            </div>
                            <br/>
                            <div class="a-candidate-other">
                                <div>
                                    <strong>{{c.dependencia}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
    <input type="hidden" id="candi" name="candi" value=" ">
    </form>
</div>
<script>
    function valueRadio(id) {
        document.eleccion.candi.value = id
    }
</script>
{% endif %} {% endblock content %}