{% extends "base.html" %} {% block title %} Elección de Candidato {% endblock title %} {% block content %} {% load static %} {% if mensaje %}
<h1>El usuario no cuenta con las credenciales necesarias, por favor redirigirse a la pagina de verificación de cedula</h1>
{% else %}
<form method="post">{% csrf_token %}
    <div>
        <center>
            <h1>Elección de Representantes a los trabajadores Alcaldia 2021</h1>
        </center>
        <input type="hidden" id="cc" name="cc" value={{user.cedula}} readonly="readonly"></input>
    </div>
    <div>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    {% for c in candidatos %}
                    <div class="col-4 mb-4 mt-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{c.foto.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{c.nombre}} {{c.apellido}}</h5>
                                <p class="card-text">Cargo : {{c.cargo}}</p>
                                <p class="card-text">Dependencia : {{c.dependencia}}</p>
                                #Tarjeton
                                <input type="text" id="candi" name="candi" value={{c.id}} readonly="readonly">
                                </input>
                                <button type="submit">Elegir</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %} {% endblock content %}