{% extends "base.html" %} {% block content %}

<div id="a-eleccion-container">
    {% load static %}
    <img src="{% static 'images/main.png' %}" alt="" id="a-background-img" />
    <div id="a-eleccion-content">
        <nav class="navbar navbar-dark">
            <div class="container-fluid">
                {% load static %}
                <img src="{% static 'images/logo/villavo-white.svg' %}" alt="" id="a-logo-img" />
                <form class="d-flex">
                    <a href="{% url 'users_app:login-user' %}" class="a-secondary-btn" type="button">
            Iniciar sesión
          </a>
                </form>
            </div>
        </nav>

        <div id="a-row">
            <div id="a-top-row">
                {% load static %}
                <img src="{% static 'images/figure-main.svg' %}" />
                <div id="a-subtitle">
                    <span>Elección de Representantes al Comité de
            Convicencia Laboral</span
          >
          <div id="a-rounded-rectangle"><span>Vigencia 2022-2023</span></div>
            </div>
        </div>
        <div id="a-bottom-row">
            <h5>Ingresa los datos para validar tu votación</h5>
            <form method="post">
                <div id="a-inputs-container">{% csrf_token %} {{form.as_p}}</div>
                <button class="a-main-btn" type="submit">Siguiente</button>
            </form>

            {% load static %}
            <img src="{% static 'images/good-treat.svg' %}" id="a-good-treat" />
        </div>
    </div>

    <div id="a-footer">
        Desarrollado por la Dirección de Sistemas Tecnológicos e Informáticos
        <br /> Secretaria de las TIC - Villavicencio Cambia Contigo
    </div>
</div>
</div>

{% endblock content %}