{% extends "base.html" %} {% block content %}

<div id="a-eleccion-container">
    {% load static %}
    <img src="{% static 'images/main.png' %}" alt="" id="a-background-img" />
    <div id="a-eleccion-content">
        <nav class="navbar navbar-dark">
            <div class="container-fluid">
                {% load static %}
                <img src="{% static 'images/logo/villavo-white.svg' %}" alt="" id="a-logo-img" />
                <form class="d-flex">
                </form>
            </div>
        </nav>

        <div id="a-row">
            <div id="a-top-row">
                {% load static %}
                <img src="{% static 'images/figure-main.svg' %}" />
                <div id="a-subtitle">
                    <span>Elección de Representantes al Comité de
                        Convicencia Laboral</span
          >
          <div id="a-rounded-rectangle"><span>Vigencia 2022-2023</span></div>
            </div>
        </div>
        <div id="a-bottom-row">
            <h5>Las Votaciones Serán Habilitadas el día 27 de Octubre del 2022 de 8:00 am - 4:00 pm </h5>

            {% load static %}
            <img src="{% static 'images/good-treat.svg' %}" id="a-good-treat" />
        </div>
    </div>

    <div id="a-footer">
        Desarrollado por la Dirección de Sistemas Tecnológicos e Informáticos
        <br /> Secretaria de las TIC - Villavicencio Cambia Contigo
    </div>
</div>
</div>

{% endblock content %}